<div class="container" style="border: 2px solid red;">
    <h1>Battle of Pokémon!</h1>
    <div class="row">
      <div class="col">
        <app-pokemon [pokemon]="pokemon1" [health]="health1" [isTurn]="turn === 1" (attack)="attack(1)"></app-pokemon>
      </div>
      <div class="col">
        <app-pokemon [pokemon]="pokemon2" [health]="health2" [isTurn]="turn === 2" (attack)="attack(2)"></app-pokemon>
      </div>
    </div>
    <h2 *ngIf="winner">{{ winner }}</h2>
    <button class="btn btn-primary" (click)="resetBattle()">Reset Battle</button>
  </div>


  <div>
    <h2>Batalla en Curso</h2>
    <div *ngIf="winner; else battle">
      <h3>{{ winner }}</h3>
      <button (click)="resetBattle()">Reiniciar Batalla</button>
    </div>
    <ng-template #battle>
      <div class="row">
        <div class="col">
          <app-pokemon [pokemon]="pokemon1" [health]="health1" [isTurn]="turn === 1" (attack)="attack(1)"></app-pokemon>
        </div>
        <div class="col">
          <app-pokemon [pokemon]="pokemon2" [health]="health2" [isTurn]="turn === 2" (attack)="attack(2)"></app-pokemon>
        </div>
      </div>
    </ng-template>
  </div>
  
  