<div class="container mt-4">
    <div class="row">
      <div *ngFor="let vehicle of vehicles" class="col-md-4 mb-4">
        <div class="card">
          <img [src]="vehicle.imageUrl" class="card-img-top" alt="{{ vehicle.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ vehicle.name }}</h5>
            <p class="card-text"><strong>Model:</strong> {{ vehicle.model }}</p>
            <p class="card-text"><strong>Manufacturer:</strong> {{ vehicle.manufacturer }}</p>
            <p class="card-text"><strong>Cost:</strong> {{ vehicle.cost_in_credits }} credits</p>
            <p class="card-text"><strong>Max Speed:</strong> {{ vehicle.max_atmosphering_speed }} km/h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  