<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="text-center">Información alumno</h1>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Nombre:</strong> {{ nombre }}</p>
      <p class="card-text"><strong>Apellidos:</strong> {{ apellidos }}</p>
      <p class="card-text"><strong>Edad:</strong> {{ edad }} años</p>
      
      
      <button class="btn btn-success mt-3" (click)="mostrarInformacion()">Mostrar info</button>
    </div>
  </div>
</div>
