<div class="card align-content-center justify-content-center text-center bg-dark shadow-lg rounded-4"
    style="width: 300px;">
    <div class="rounded-circle bg-secondary mx-auto mt-2 shadow-lg" style="width: 200px; height: 200px">
        @if(!showAnimation){
            <img [src]='urlImg' class="card-img-top m-auto mt-4" [alt]="pokemon?.name" style="width:140px; height:140px;">
        }
        @else{
            <ng-lottie [options]="options"></ng-lottie>
        }
        
    </div>
    <div class="card-body align-content-center justify-content-center text-center">
        <h5 class="card-title text center text-light">{{ pokemon?.name | titlecase }}</h5>
        <ngb-progressbar class="mb-3" [type]="getProgressColor()" textType="white" [value]="health"
            [showValue]="true" />
        <div class="d-flex justify-content-center">
            @if(isMyTurn){
                <button class="btn btn-danger" (click)="attackPokemon()">Atacar</button>
            }
            @else{
                <button class="btn btn-danger" disabled>Esperando ataque...</button>
            }
            
        </div>
        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary" (click)="swapPokemon()">Aleatorizar pokemon</button>
        </div>
    </div>
</div>