<div class="container">
  <div class="card mt-5 card-car">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <h5 class="card-title">{{ nombre }}</h5>
            </div>
            <div class="col-12">
              <p class="car-subtitle">
                {{ automatico == true ? "Automatico" : "" }}
                {{ automatico == true && manual == true ? " / " : "" }}
                {{ manual == true ? "Manual" : "" }}
              </p>
            </div>
            <div class="col-12 car-price">
              <span class="badge text-bg-secondary">{{ precio }}€ / dia</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img class="car-photo" [src]="imgSrc" />
        </div>
      </div>
    </div>
  </div>
</div>
