<div class="container mt-4">
    <h2>Star Wars Characters</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let person of people">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ person.name }}</h5>
            <p class="card-text">
              <strong>Height:</strong> {{ person.height }}<br>
              <strong>Mass:</strong> {{ person.mass }}<br>
              <strong>Hair Color:</strong> {{ person.hair_color }}<br>
              <strong>Eye Color:</strong> {{ person.eye_color }}<br>
              <strong>Birth Year:</strong> {{ person.birth_year }}<br>
              <strong>Gender:</strong> {{ person.gender }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  